@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');
@import './mixin.scss';

// Colors
$white: #FCFCFC;
$black: #13151d;
$color-1: #7b8caa;
$color-2: rgb(232, 150, 78);

// Typography
$font-family: 'Poppins', 'system-ui';
$font-size: 1rem;
$font-weight: 500;
$padding: 1rem 2rem;
$padding-mini: .25rem .35rem;
$borderRadius: 0.25rem;
$border: 1px solid rgb(0, 36, 0);
$borderColor: 1px solid $color-2;